.dropdown {
  position: relative;
  display: inline-block;

  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgb(216, 216, 216);
    border: 1px solid black;
    min-width: 100%;
  }

  &-item {
    display: block;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: rgb(170, 170, 170);
    }
  }
}
